// Color Variables

$primary-color: #777;
$secondary-color: #fff;
$third-color: #58e1c1;
$link-color: #51ddfc;
$img-frame: #ccc;

// Style Variable

$font-weight: 300;

// Media Query
$break-m: 768px;